name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Check project
        run: |
            npm run check
            npm run test

      - name: Build package
        run: npm run build

      - name: Create package artifact
        id: pack
        run: |
          npm pack
          ARTIFACT_NAME=$(ls *.tgz | head -n 1)
          echo "artifact_name=$ARTIFACT_NAME" >> "$GITHUB_OUTPUT"

      - name: Upload artifact
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ steps.pack.outputs.artifact_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
